@using Homework_04_19.Web.Models;
@using Homework_04_19.Data;
@model MyAccountViewModel;

<div b-gyvb0mk0dj class="container" style="margin-top:80px;">
    <main b-gyvb0mk0dj role="main" class="pb-3">

        @foreach (Ad a in Model.MyAds)
        {
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="bg-light p-4 rounded shadow mb-3">
                        <h5>Listed on @a.DateCreated.ToLongDateString()</h5>
                        <h5>Phone Number: @a.Phone</h5>
                        <h3>Details:</h3>
                        <p>@a.Description</p>
                        <form method="post" action="/home/deletead">
                            <input type="hidden" name="id" value="@a.Id" />
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }

    </main>
</div>